
#container{
    display:flex;
    flex-direction: row;
 
    flex-wrap:wrap;
  
    height:320px;
    width:320px;
    border: 4px solid salmon;
    
    
   


}
.grid-square{   
     cursor: pointer;

    
   width: 20px;
   height: 20px;
   border:1px solid whitesmoke ;
   box-sizing: border-box;
 
   

}
.bg-color{
    background-color: darkgrey;
}
button{
  cursor: pointer;

}
.button-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 5px;

}
body{
    background-color:paleturquoise;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;

    
}
#r{
    color:red;
}
#a{
    color:orangered;
}
#i{
    color:yellow;
}
#n{
    color:green;
}
#b{
    color:blue;
}
#o{
    color:indigo;
}
#w{
    color:violet;
}

.main{
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    color:crimson;
    font-weight: bolder;
   
}